<div class="project-card">
  <a href="{{ project.url }}" class="card-link">
    <div class="card-content">
      <h3 class="card-title">{{ project.title }}</h3>
              <div class="project-overview">
                   {{ content }}
            </div>
            <div class="card-tags">
              {% for tag in project.tags %}
          <span class="tag">{{ tag }}</span>
        {% endfor %}
      </div>
    </div>

    <div class="card-image-container">
      <img src="{{ project.preview_gif }}" alt="{{ project.title }}" class="card-gif">
      <div class="card-overlay">
        <span class="view-project-text">View Project</span>
      </div>
    </div>
  </a>
</div>